<!DOCTYPE html>
<html>

<head>
    <!-- *******************SCRIPTS******************* -->
    <script src="../js/helpers.js" type="module"></script>
    <script src="../js/console.js" type="module"></script>
    <script src="mongoInterface.js" type="module"></script>
    <!-- *******************STYLES******************* -->
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/console.css">

    <!-- *******************HTML******************* -->
    <link href="/html/console.html" rel="import" />
<head>

<body>

    <div class="info-container" id="firstContainer">
        <h1>Hello! Welcome to the Henchmen ATE for Chris' API UI!</h1>
        <p>This is the API interface for the ATE project. Below are the functions to start the pipeline and compare the results to the rawtime data.</p>
    </div>
    <div class="button-container" id="buttonContainer">

    </div>
    <div class="info-container" id="console-container">
        <div class="button_container" id="console-container__console">
            
        </div>
        <div id="console"></div>
    </div>
</body>
</html>