<!DOCTYPE html>
<html>

<header>
    <!-- <base href="/"> -->
    <!-- *******************SCRIPTS******************* -->
    <script src="compareSchedule.js"></script>
    <!-- *******************STYLES******************* -->
    <link rel="stylesheet" href="css/layout.css">

<header>

<body>

    <div class="info-container">
        <div class="description-container">
            <h3 class="info-title">*me*</h3>
            <h3 class="info-title">Its running!</h3>
        </div>

        <div class="description-container">
            <h3 class="info-title">*The program*</h3>
            <img class="image-container" src="https://i.kym-cdn.com/entries/icons/original/000/027/475/Screen_Shot_2018-10-25_at_11.02.15_AM.png" alt="wtf">
        </div>
    </div>
</body>
</html>